<div class="title">
  <button type="button" class="btn btn-outline-primary btn-lg btn-block" (click)="onClickSuggestions()">{{title}}</button>
</div>

<div class="board-items-container"
     dndDropzone
     dndEffectAllowed="move"
     (dndDrop)="onDrop($event, items)">

  <div class="row no-gutters">
    <div class="col-xl-6" *ngFor="let item of items">

      <div class="card"
           [dndDraggable]="item"
           [dndEffectAllowed]="item.effectAllowed"
           (dndStart)="onDragStart($event)"
           (dndMoved)="onDragged(item, items, 'move')"
           (dndEnd)="onDragEnd($event)">
        <div class="card-body">
          <label>
            <input type="text" placeholder="Title" [(ngModel)]="item.title">
          </label>
          <label *ngIf="isDisplayingContent">
            <textarea placeholder="Content" [(ngModel)]="item.content"></textarea>
          </label>
        </div>
      </div>

    </div>
  </div>

</div>
