:host {
  padding: 10px;
  display: block;
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

.title {
  padding: 0 5px;
}

.board-items-container {
  height: calc(100vh - 200px);
  transition: all 300ms ease;
  overflow: scroll;
  margin: 5px;
  background: #FDFDFD;

  .card {
    margin-bottom: 3px;
    margin-right: 3px;
    text-align: right;

    .card-body {
      padding: 0.85rem;
    }

    label {
      width: 100%;

      input, textarea {
        width: 100%;
        border: 1px solid #EEEEEE;
        padding: 1px 5px;
      }

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}
